<div class="transaction-list">
    <h2 style="text-align: center;">Transaction List</h2>
    
    
    <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
  
    
    <table *ngIf="transactions.length > 0" >
      <thead>
        <tr>
          <th>ID</th>
          <th>Transaction Date</th>
          <th>Amount</th>
          <th>Transaction Type</th>
          <th>Description</th>
          <th>Target <br> Account <br> Number</th>
          <th>Status</th>
          <!-- <th>Actions</th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transaction of transactions">
          <td>{{ transaction.id }}</td>
          <td>{{ transaction.transactionDate | date: 'medium' }}</td>
          <td>{{ transaction.amount | currency }}</td>
          <td>{{ transaction.transactionType }}</td>
          <td>{{ transaction.description }}</td>
          <td>{{ transaction.targetAccountNumber }}</td>
          <td>{{ transaction.status ? 'Completed' : 'Pending' }}</td>
          <!-- <td>
            <button (click)="deleteTransaction(transaction.id)">Delete</button>
          </td> -->
        </tr>
      </tbody>
    </table>
  
    
    <p *ngIf="transactions.length === 0">No transactions available.</p>
  </div>
  