<!-- Hero Section -->
<section class="hero">
    <h1>Welcome to BMS Bank</h1>
    <p>Your trusted partner for all financial solutions</p>
    <div>
        <!-- <button>Apply Now</button> -->
        <button>Read More</button>
    </div>
</section>

<!-- About Start -->
<div class="container-fluid about bg-light py-5">
    <div class="container py-5">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 col-xl-5 wow fadeInLeft" data-wow-delay="0.1s">
                <div class="about-img">
                    <img src="../../../assets/img/about-3.png" class="img-fluid w-100 rounded-top bg-white" alt="Image">
                    <img src="../../../assets/img/about-2.jpg" class="img-fluid w-100 rounded-bottom" alt="Image">
                </div>
            </div>
            <div class="col-lg-6 col-xl-7 wow fadeInRight" data-wow-delay="0.3s">
                <h4 class="text-primary">About Us</h4>
                <h1 class="display-5 mb-4">The most Profitable Investments company in worldwide.</h1>
                <p class="text ps-4 mb-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores atque nihil unde quisquam, deleniti illo a. Quam harum laboriosam, laudantium, deleniti perferendis voluptates ex non laborum libero magni, minus illo!
                </p>
                <div class="row g-4 justify-content-between mb-5">
                    <div class="col-lg-6 col-xl-5">
                        <p class="text-dark"><i class="fas fa-check-circle text-primary me-1"></i> Strategy & Consulting</p>
                        <p class="text-dark mb-0"><i class="fas fa-check-circle text-primary me-1"></i> Business Process</p>
                    </div>
                    <div class="col-lg-6 col-xl-7">
                        <p class="text-dark"><i class="fas fa-check-circle text-primary me-1"></i> Marketing Rules</p>
                        <p class="text-dark mb-0"><i class="fas fa-check-circle text-primary me-1"></i> Partnerships</p>
                    </div>
                </div>
                <div class="row g-4 justify-content-between mb-5">
                    <div class="col-xl-5"><a href="#" class="btn btn-primary rounded-pill py-3 px-5">Discover More</a></div>
                    <div class="col-xl-7 mb-5">
                        <div class="about-customer d-flex position-relative">
                            <img src="../../../assets/img/customer-img-1.jpg" class="img-fluid btn-xl-square position-absolute" style="left: 0; top: 0;"  alt="Image">
                            <img src="../../../assets/img/customer-img-2.jpg" class="img-fluid btn-xl-square position-absolute" style="left: 45px; top: 0;" alt="Image">
                            <img src="../../../assets/img/customer-img-3.jpg" class="img-fluid btn-xl-square position-absolute" style="left: 90px; top: 0;" alt="Image">
                            <!-- <img src="img/customer-img-1.jpg" class="img-fluid btn-xl-square position-absolute" style="left: 135px; top: 0;" alt="Image"> -->
                            <div class="position-absolute text-dark" style="left: 220px; top: 10px;">
                                <p class="mb-0">5m+ Trusted</p>
                                <p class="mb-0">Global Customers</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row g-4 text-center align-items-center justify-content-center">
                    <div class="col-sm-4">
                        <div class="bg-primary rounded p-4">
                            <div class="d-flex align-items-center justify-content-center">
                                <span class="counter-value fs-1 fw-bold text-dark" data-toggle="counter-up">32</span>
                                <h4 class="text-dark fs-1 mb-0" style="font-weight: 600; font-size: 25px;">k+</h4>
                            </div>
                            <div class="w-100 d-flex align-items-center justify-content-center">
                                <p class="text-white mb-0">Project Complete</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="bg-dark rounded p-4">
                            <div class="d-flex align-items-center justify-content-center">
                                <span class="counter-value fs-1 fw-bold text-white" data-toggle="counter-up">21</span>
                                <h4 class="text-white fs-1 mb-0" style="font-weight: 600; font-size: 25px;">+</h4>
                            </div>
                            <div class="w-100 d-flex align-items-center justify-content-center">
                                <p class="mb-0">Years Of Experience</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="bg-primary rounded p-4">
                            <div class="d-flex align-items-center justify-content-center">
                                <span class="counter-value fs-1 fw-bold text-dark" data-toggle="counter-up">97</span>
                                <h4 class="text-dark fs-1 mb-0" style="font-weight: 600; font-size: 25px;">+</h4>
                            </div>
                            <div class="w-100 d-flex align-items-center justify-content-center">
                                <p class="text-white mb-0">Team Members</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->


<!-- Services Start -->
<div class="container-fluid service py-5">
    <div class="container py-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 800px;">
            <h4 class="text-primary">Our Services</h4>
            <h1 class="display-4"> Offering the Best Consulting & Investa Services</h1>
        </div>
        <div class="row g-4 justify-content-center text-center">
            <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item bg-light rounded">
                    <div class="service-img">
                        <img src="../../../assets/img/service-1.jpg" class="img-fluid w-100 rounded-top" alt="">
                    </div>
                    <div class="service-content text-center p-4">
                        <div class="service-content-inner">
                            <a href="#" class="h4 mb-4 d-inline-flex text-start"><i class="fas fa-donate fa-2x me-2"></i> Business Strategy Invesments</a>
                            <p class="mb-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum nobis est sapiente natus officiis maxime
                            </p>
                            <a class="btn btn-light rounded-pill py-2 px-4" href="#">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item bg-light rounded">
                    <div class="service-img">
                        <img src="../../../assets/img/service-2.jpg" class="img-fluid w-100 rounded-top" alt="">
                    </div>
                    <div class="service-content text-center p-4">
                        <div class="service-content-inner">
                            <a href="#" class="h4 mb-4 d-inline-flex text-start"><i class="fas fa-donate fa-2x me-2"></i> Consultancy & Advice</a>
                            <p class="mb-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum nobis est sapiente natus officiis maxime
                            </p>
                            <a class="btn btn-light rounded-pill py-2 px-4" href="#">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item bg-light rounded">
                    <div class="service-img">
                        <img src="../../../assets/img/service-3.jpg" class="img-fluid w-100 rounded-top" alt="">
                    </div>
                    <div class="service-content text-center p-4">
                        <div class="service-content-inner">
                            <a href="#" class="h4 mb-4 d-inline-flex text-start"><i class="fas fa-donate fa-2x me-2"></i> Invesments Planning</a>
                            <p class="mb-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum nobis est sapiente natus officiis maxime
                            </p>
                            <a class="btn btn-light rounded-pill py-2 px-4" href="#">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.7s">
                <div class="service-item bg-light rounded">
                    <div class="service-img">
                        <img src="../../../assets/img/service-4.jpg" class="img-fluid w-100 rounded-top" alt="">
                    </div>
                    <div class="service-content text-center p-4">
                        <div class="service-content-inner">
                            <a href="#" class="h4 mb-4 d-inline-flex text-start"><i class="fas fa-donate fa-2x me-2"></i> Private Client Investment</a>
                            <p class="mb-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum nobis est sapiente natus officiis maxime
                            </p>
                            <a class="btn btn-light rounded-pill py-2 px-4" href="#">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <a class="btn btn-primary rounded-pill py-3 px-5 wow fadeInUp" data-wow-delay="0.1s" href="#">Services More</a>
            </div>
        </div>
    </div>
</div>
<!-- Services End -->

<!-- Services Section -->
<!-- <section class="services">
    <h2>Our Services</h2>
    <div class="service-cards">
        <div class="service-card">
            <h3>Personal Loans</h3>
            <p>Get the best rates for your personal financial needs.</p>
            <a href="#">Learn More</a>
        </div>
        <div class="service-card">
            <h3>Business Accounts</h3>
            <p>Manage your business with our exclusive accounts and services.</p>
            <a href="#">Learn More</a>
        </div>
        <div class="service-card">
            <h3>Investments</h3>
            <p>Grow your wealth with our tailor-made investment plans.</p>
            <a href="#">Learn More</a>
        </div>
    </div>
</section> -->

<!-- Projects Section -->
<!-- <section class="projects">
    <h2>Our Latest Projects</h2>
    <div class="project-cards">
        <div class="project-card">
            <h3>Project A</h3>
            <p>Details about Project A.</p>
        </div>
        <div class="project-card">
            <h3>Project B</h3>
            <p>Details about Project B.</p>
        </div>
        <div class="project-card">
            <h3>Project C</h3>
            <p>Details about Project C.</p>
        </div>
    </div>
</section> -->

<!-- Blog Section -->
<!-- <section class="blog">
    <h2>Latest Articles & News</h2>
    <div class="blog-posts">
        <div class="blog-post">
            <h3>Blog Post 1</h3>
            <p>A quick summary of the blog post.</p>
        </div>
        <div class="blog-post">
            <h3>Blog Post 2</h3>
            <p>A quick summary of the blog post.</p>
        </div>
        <div class="blog-post">
            <h3>Blog Post 3</h3>
            <p>A quick summary of the blog post.</p>
        </div>
    </div>
</section> -->

<!-- Team Section -->
<!-- <section class="team">
    <h2>Meet Our Team</h2>
    <div class="team-members">
        <div class="team-member">
            <img src="assets/team-member1.jpg" alt="Team Member 1">
            <h4>John Doe</h4>
            <p>CEO</p>
        </div>
        <div class="team-member">
            <img src="assets/team-member2.jpg" alt="Team Member 2">
            <h4>Jane Smith</h4>
            <p>Chief Financial Officer</p>
        </div>
        <div class="team-member">
            <img src="assets/team-member3.jpg" alt="Team Member 3">
            <h4>Emily Davis</h4>
            <p>Investment Manager</p>
        </div>
    </div>
</section> -->

<!-- Footer -->
<!-- <footer>
    <p>&copy; 2024 XYZ Bank. All Rights Reserved.</p>
    <p>Contact: 1-800-XYZ-BANK | info@xyzbank.com</p>
</footer> -->
