<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center">Open New Bank Account</h2>
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="firstName" class="form-label">First Name:</label>
                            <input id="firstName" type="text" class="form-control" formControlName="firstName" />
                            <div *ngIf="registerForm.get('firstName')?.invalid && registerForm.get('firstName')?.touched"
                                class="text-danger">
                                <small *ngIf="registerForm.get('firstName')?.errors?.['required']">Name is
                                    required.</small>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="lastName" class="form-label">Last Name:</label>
                            <input id="lastName" type="text" class="form-control" formControlName="lastName" />
                            <div *ngIf="registerForm.get('lastName')?.invalid && registerForm.get('lastName')?.touched"
                                class="text-danger">
                                <small *ngIf="registerForm.get('lastName')?.errors?.['required']">Name is
                                    required.</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email:</label>
                    <input id="email" type="email" class="form-control" formControlName="email" />
                    <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched"
                        class="text-danger">
                        <small *ngIf="registerForm.get('email')?.errors?.['required']">Email is required.</small>
                        <small *ngIf="registerForm.get('email')?.errors?.['email']">Invalid email address.</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="password" class="form-label">Password:</label>
                            <input id="password" type="password" class="form-control" formControlName="password" />
                            <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched"
                                class="text-danger">
                                <small *ngIf="registerForm.get('password')?.errors?.['required']">Password is
                                    required.</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="confirmPassword" class="form-label">Confirm Password:</label>
                            <input id="confirmPassword" type="password" class="form-control"
                                formControlName="confirmPassword" />
                            <div *ngIf="registerForm.hasError('mismatch') && registerForm.get('confirmPassword')?.touched"
                                class="text-danger">
                                <small>Passwords do not match.</small>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="mobileNo" class="form-label">Cell:</label>
                            <input id="mobileNo" type="text" class="form-control" formControlName="mobileNo" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="nid" class="form-label">National Id:</label>
                            <input id="nid" type="text" class="form-control" formControlName="nid" />
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="address" class="form-label">Address:</label>
                    <input id="address" type="text" class="form-control" formControlName="address" />
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="dob" class="form-label">Date of Birth:</label>
                            <input id="dob" type="date" class="form-control" formControlName="dob" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="gender" class="form-label">Gender:</label>
                            <select id="gender" class="form-select" formControlName="gender">
                                <option value="">Select Gender</option>
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                                <option value="other">Other</option>
                            </select>
                        </div>
                    </div>

                </div>
                <!-- <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="accountType" class="form-label">Account Type:</label>
                            <select id="accountType" class="form-select" formControlName="accountType">
                                <option value="">Select Account Type</option>
                                <option value="Savings">Savings</option>
                                <option value="Checking">Checking</option>
                                <option value="Business">Business</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="balance" class="form-label">Balance:</label>
                            <input id="balance" type="text" class="form-control" formControlName="balance" />
                        </div>
                    </div>

                </div> -->

                <div class="form-group">
                    <label for="image" class="form-label">Profile Image:</label>
                    <input type="file" id="image" (change)="onImageSelected($event)" class="form-control"
                        formControlName="image" />
                </div>
                <!-- <div class="mb-3">
            <label for="image" class="form-label">Image URL:</label>
            <input id="image" type="text" class="form-control" formControlName="image" />
          </div> -->
                <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid">Register</button>
            </form>
            <div *ngIf="errorMessage" class="alert alert-danger mt-3">{{ errorMessage }}</div>
            <div *ngIf="successMessage" class="alert alert-success mt-3">{{ successMessage }}</div>
        </div>
    </div>
</div>